@import './variables';

.sarya {
    &-banner {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &-title {
            color: black;
            text-shadow: 0px 0px 4px white;
            display: inline-block;
            text-shadow: 0px 0px 4px white;
            padding: 1.5rem 1rem;
            background: rgba(255,255,255, 0.75);
            min-width: 300px;
            border-left: 4px solid $sarya-color;
        }
    }
}