@import './variables';

.sarya {
    &-sitemap {
        background-color: #666666;
        color: #eeeeee;
    }
    &-footer {
        width: 100%;
        height: $footer-height;
        display: flex;
        align-items: center;

        position: absolute;
        left: 0px;
        bottom: 0px;

        // box-shadow: inset 0px 4px 4px black;
        background-color: #333333;
        color: #eeeeee;
    }
}