@import './variables';

.sarya {
    &-navbar {

    }

    &-subnavbar {
        background-color: #333333;
        box-shadow: inset 0px 4px 4px rgba(0,0,0, 0.6), 0px 4px 4px rgba(0,0,0, 0.4);

        & .navbar-link,
        & .navbar-item {
            color: $sarya-color;
        }
    }
}