@import './variables';

$navbar-padding: ($navbar-height - 3.25rem) / 2;

.sarya {
    &-navbar {
        z-index: 99 !important;
        padding-top: $navbar-padding;
        padding-bottom: $navbar-padding;
        box-shadow: 0px 4px 4px rgba(0,0,0, 0.2);
        @media screen and (max-width: 1023px) {
            & .navbar-burger {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        & .navbar-item {
            &.is-large {
                padding: 0rem .75rem;
                & img {
                    max-height: 2.75rem;
                }
            }
        }
    }

    &-subnavbar {
        margin-top: -1 * $navbar-padding;
        margin-bottom: -1 * $navbar-padding;
        & .navbar-link,
        & .navbar-item {
            color: #666666;
            &.is-active {
                color: $sarya-color !important;
            }
        }

        & .navbar-link {
            &:after {
                border-color: #666666;
            }
            &.is-active:after {
                border-color: $sarya-color;;
            }
        }

        @media screen and (min-width: 1024px) {
            & .navbar-item:focus,
            & .navbar-item:hover {
                background-color: #efefef;
                color: $sarya-color;
                & .navbar-link {
                    background-color: #efefef;
                    color: $sarya-color;
                    &:after {
                        border-color: $sarya-color;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1023px) {
        .sarya {
            &-navbar {
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
            }
            &-subnavbar {
                display: none;
                position: fixed;
                top: 52px;
                left: 0px;
                width: 100%;

                &.is-open {
                    display: block;
                }

                & .navbar-dropdown {
                    background-color: black;
                }
            }
        }
    }
}