@import './helper';
@import './navbar';
@import "./footer";
@import './banner';
@import './table';
@import './breadcrumb';

a { color: $sarya-color; }

.sarya {
    padding-bottom: 45px;
}

@media screen and (max-width: 1023px) {
    .sarya {
        padding-top: 52px;
    }
}