@import './variables';

@import './helper';
@import './navbar';
@import "./footer";
@import './banner';
@import './table';
@import './breadcrumb';
@import './card';

@import './pages/index.scss';

html, body {
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

a { color: $sarya-color; }

.sarya {
    padding-bottom: $footer-height;
    min-height: 100%;
    position: relative;
    overflow: hidden;

    &-has-navbar-fixed-top {
        padding-top: $navbar-height !important;
    }
    
    &-background {
        background-color: #efefef;
    }
}

@media screen and (max-width: 768px) {
    .section {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}