@import './helper';
@import './navbar';
@import "./footer";
@import './banner';
@import './table';
@import './breadcrumb';

* {
    font-family: 'Ubuntu Mono', monospace;
}
a { color: $sarya-color; }

.sarya {
    padding-bottom: $footer-height;
}

@media screen and (max-width: 1023px) {
    .sarya {
        padding-top: 52px;
    }
}