$sarya-color-lighter: #fff5ef;
$sarya-color-light: #fca76f;
$sarya-color: #ff6704;
$sarya-color-dark: #963c00;
$sarya-color-darker: #5a2400;

$siema-button: 60px;

html, body {
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
}
a {
    color: $sarya-color;
}

.sarya {
    &-card {
        height: 210px;
        background-color: white;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 6px #999999;
        }
    }
    &-brand {
        font-size: 24px;
        & a {
            font-weight: bolder;
            color: $sarya-color;
        }
    }
    &-banner {
        background-color: #333333;
        color: white;
    }
    &-products {
        background-color: #f4f4f4;
    }
    &-siema {
        &-container {
            position: relative;
        }
        &-thumbnail {
            position: absolute;
            width: 33.33333%;
            height: 5px;
            bottom: -20px;
            left: 0px;
            background-color: $sarya-color;
            transition: left .3s ease-out;
        }
        &-prev,
        &-next {
            position: absolute;
            display: block;
            width: $siema-button;
            height: $siema-button;
            top: 50%;
            border-radius: 0.5 * $siema-button;
            margin-top: -0.5 * $siema-button;
            background-color: #eee;
            cursor: pointer;
            &:hover {
                background-color: $sarya-color;
            }
            &:before {
                content:'';
                display: block;
                width: 0.5 * $siema-button;
                height: 0.5 * $siema-button;
                position: absolute;
                top: 50%;
                margin-top: -0.25 * $siema-button;
                border: 4px solid white;
                transform: rotate(45deg)
            }
        }
        &-prev {
            left: -75px;
            &:before {
                border-right: transparent;
                border-top: transparent;
                left: 0.35 * $siema-button;
            }
        }
        &-next {
            right: -75px;
            &:before {
                border-left: transparent;
                border-bottom: transparent;
                right: 0.35 * $siema-button;
            }
        }
    }
    &-footer {
        background-color: #333333;
        color: white;
        & a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &-navbar {
        box-shadow: 2px 0px 4px #333333;
        &-item {
            color: #333333;
            font-weight: 500;

            &:hover {
                background-color: $sarya-color;
                color: white;
                cursor: pointer;
                & > a { 
                    color: white;
                }
            }
        }
    }
    &-table {
        background-color: transparent;
        tr {
            border-left: 4px solid $sarya-color;
            td { font-size: 14px; }
        }
    }

    &-color {
        color: $sarya-color;
    }
    &-background-color {
        background-color: $sarya-color;
    }
}

.is {
    &-mobile-reverse {
        flex-direction: row-reverse;
    }
    &-sarya {
        color: $sarya-color;
        &-lighter { color: $sarya-color-lighter; }
        &-light { color: $sarya-color-light; }
        &-dark { color: $sarya-color-dark; }
        &-darker { color: $sarya-color-darker; }
        &-background {
            &-lighter { background-color: $sarya-color-lighter; }
            &-light { background-color: $sarya-color-light; }
            &-dark { background-color: $sarya-color-dark; }
            &-darker { background-color: $sarya-color-darker; }
        }
    }
    &-align {
        &-center { align-items: center; }
    }
}

@media screen and (min-width: 769px) {
    .on {
        &-desktop-right {
            text-align: right;
        }
    }
    .has {
        &-border {
            &-tl { border-top: 4px solid $sarya-color; border-left: 4px solid $sarya-color }
            &-tr { border-top: 4px solid $sarya-color; border-right: 4px solid $sarya-color }
            &-bl { border-bottom: 4px solid $sarya-color; border-left: 4px solid $sarya-color }
            &-br { border-bottom: 4px solid $sarya-color; border-right: 4px solid $sarya-color }
        }
    }
}

@media screen and (max-width: 768px) {
    .sarya {
        &-card {
            height: auto;
            border-left: 4px solid $sarya-color;
        }
        &-table {
            tr {
                display: flex;
                flex-direction: column;
                margin: 20px 0px;
            }
        }
        &-siema {
            &-prev,
            &-next {
                display: none;
            }
        }
    }
}